@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {

    li:before {
        @apply text-primary
    }

    .autocomplete-items {
        @apply border-2 border-primary
    }

    .autocomplete-items div {
        @apply bg-primary
    }

    .autocomplete-active {
        @apply bg-secondary !important
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus, button:active, input:focus {
    outline: none;
}

.autocomplete-items {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px;
}

#bookshelf {
    background-image: url('../../assets/bookshelf.png');
    background-size: 100% 335px;
    background-repeat: repeat-y;
}

.list-item-info {
    transform: scale(1);
    transition: .3s ease-in-out
}

.list-item {
    margin-bottom: 35px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.list-item:hover {
    transform: scale(.95);
}

.list-item > div {
    width: 225px;
    height: 300px;
}

.list-item-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.list-item:hover .list-item-overlay {
    opacity: 1;
}

.list-item-image {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    border: 1px solid #939393;
    max-width: 80vw;
    min-width: 80vw;
    min-height: 80vh;
    max-height: 80vh;
}

.snackbar {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.fade-in-enter {
    opacity: 0;
}

.fade-in-enter-active {
    opacity: 1;
    transition: opacity 0.3s;
}

.fade-in-exit {
    opacity: 1;
}

.fade-in-exit-active {
    opacity: 0;
    transition: opacity 0.3s;
}

.slide-right-enter {
    width: 0;
}

.slide-right-enter-active {
    width: 50vw;
    transition: width 0.2s;
}

.slide-right-exit {
    width: 50vw;
}

.slide-right-exit-active {
    width: 0;
    transition: width 0.2s;
}

.slide-left-enter {
    right: 0;
}

.slide-left-enter-active {
    right: 100%;
    transition: right 0.5s;
}

.slide-left-exit {
    right: 100%;
}

.slide-left-exit-active {
    right: 0;
}

.loader-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.loader-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
